.alert {
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: rem(16px);
  background: #f2e03d;
  color: #d4c10e;
  border: 1px solid #ecd610;
  margin: 0 0 rem(16px);
  line-height: 1.5;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: rem(16px); }
  .alert .close {
    color: #d4c10e;
    top: rem(16px);
    right: rem(16px); }
    .alert .close:hover, .alert .close:focus {
      color: #bcab0d; }
  .alert.info {
    background: #00aeef;
    color: #003f56;
    border: 1px solid #00516f; }
    .alert.info .close {
      color: #003f56; }
      .alert.info .close:hover, .alert.info .close:focus {
        color: #002c3c; }
  .alert.success {
    background: #d1f252;
    color: #bae611;
    border: 1px solid #c4ee23; }
    .alert.success .close {
      color: #bae611; }
      .alert.success .close:hover, .alert.success .close:focus {
        color: #a7ce10; }
  .alert.error {
    background: #f25641;
    color: #901a0a;
    border: 1px solid #a81e0b; }
    .alert.error .close {
      color: #901a0a; }
      .alert.error .close:hover, .alert.error .close:focus {
        color: #781608; }
