* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe, hr, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, sub, sup, var, i, em, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: 300; }

html {
  font-size: 16px;
  color: #181e20;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%; }

article, aside, footer, header, menu, nav, section {
  display: block; }

table, tbody, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem; }

nav ul {
  list-style: none; }

mark {
  background-color: #F0F012;
  color: #181e20;
  font-weight: 500; }

del {
  text-decoration: line-through; }

abbr, dfn {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #eef1f3;
  margin: 2rem 0; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

blockquote {
  border-left: 4px solid #eef1f3;
  padding-left: 1.5rem;
  margin: 1rem 0; }
  blockquote p {
    margin-top: 0;
    font-size: 1.125rem; }
  blockquote small {
    font-weight: 500;
    font-style: italic;
    font-size: 1rem; }

a, .link {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
  text-decoration: underline;
  color: #FF6961; }
<<<<<<< HEAD
  a:hover, a:focus, .link:hover, .link:focus {
=======
  a:hover, a:focus,
  .link:hover,
  .link:focus {
>>>>>>> 2341f55f8f1ede539da1b283b433f0e3f7378766
    color: #ff453b; }

ul, ol {
  line-height: 1.5;
  margin: 0 0 1rem 1.5rem; }
  ul li, ol li {
    margin: 0; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }

dl {
  line-height: 1.5; }
  dl dt {
    font-weight: 700;
    margin: 0.5rem 0 0; }
    dl dt:first-of-type {
      margin-top: 0; }
  dl dd {
    color: #68838c;
    font-size: 0.875rem; }

table {
  max-width: 100%; }
  table tr td {
    border: 1px solid #d1dadd;
    padding: 0.5rem 1rem;
    color: #52676e; }
  table thead td, table tfoot td {
    font-weight: 700;
    color: #181e20;
    background: #f8f9fa; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5; }

p {
  margin: 1rem 0; }
  p:last-child {
    margin-bottom: 0; }
  p:first-child {
    margin-top: 0; }

h1, h2, h3 {
  margin: 2rem 0 1rem; }

h4, h5, h6 {
  margin: 1rem 0 0.5rem; }

h1 {
  font-size: 2.375rem; }

h2 {
  font-size: 2.125rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.625rem; }

h5 {
  font-size: 1.375rem; }

h6 {
  font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Helvetica, Arial, sans-serif; }
  h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

.columns-1 {
  width: 8.33333%;
  padding: 0 1rem; }

.columns-2 {
  width: 16.66667%;
  padding: 0 1rem; }

.columns-3 {
  width: 25%;
  padding: 0 1rem; }

.columns-4 {
  width: 33.33333%;
  padding: 0 1rem; }

.columns-5 {
  width: 41.66667%;
  padding: 0 1rem; }

.columns-6 {
  width: 50%;
  padding: 0 1rem; }

.columns-7 {
  width: 58.33333%;
  padding: 0 1rem; }

.columns-8 {
  width: 66.66667%;
  padding: 0 1rem; }

.columns-9 {
  width: 75%;
  padding: 0 1rem; }

.columns-10 {
  width: 83.33333%;
  padding: 0 1rem; }

.columns-11 {
  width: 91.66667%;
  padding: 0 1rem; }

.columns-12 {
  width: 100%;
  padding: 0 1rem; }

.flex-grid-1 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-1 > .flex-item {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-2 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-2 > .flex-item {
    width: 50%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-3 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-3 > .flex-item {
    width: 33.33333%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-4 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-4 > .flex-item {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-5 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-5 > .flex-item {
    width: 20%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-6 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-6 > .flex-item {
    width: 16.66667%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-7 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-7 > .flex-item {
    width: 14.28571%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-8 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-8 > .flex-item {
    width: 12.5%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-9 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-9 > .flex-item {
    width: 11.11111%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-10 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-10 > .flex-item {
    width: 10%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-11 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-11 > .flex-item {
    width: 9.09091%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-grid-12 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-grid-12 > .flex-item {
    width: 8.33333%;
    padding: 0 1rem;
    margin-bottom: 1rem; }

.flex-container, .container-flex, .flex-row, [class^="flex-grid"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flex-container.gutter-half, .container-flex.gutter-half, .flex-row.gutter-half, [class^="flex-grid"].gutter-half {
    margin-left: -0.5rem;
    margin-right: -0.5rem; }
    .flex-container.gutter-half > [class^="column"], .container-flex.gutter-half > [class^="column"], .flex-row.gutter-half > [class^="column"], [class^="flex-grid"].gutter-half > [class^="column"] {
      padding: 0 0.5rem !important; }
    .flex-container.gutter-half > .flex-item, .container-flex.gutter-half > .flex-item, .flex-row.gutter-half > .flex-item, [class^="flex-grid"].gutter-half > .flex-item {
      padding: 0 0.5rem !important; }
  .flex-container.full-bleed, .container-flex.full-bleed, .flex-row.full-bleed, [class^="flex-grid"].full-bleed {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .flex-container.full-bleed > [class^="column"], .container-flex.full-bleed > [class^="column"], .flex-row.full-bleed > [class^="column"], [class^="flex-grid"].full-bleed > [class^="column"] {
      padding: 0 !important; }
  .flex-container.vertical, .container-flex.vertical, .flex-row.vertical, [class^="flex-grid"].vertical {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .flex-container.vertical > [class^="column"], .container-flex.vertical > [class^="column"], .flex-row.vertical > [class^="column"], [class^="flex-grid"].vertical > [class^="column"] {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }

.align-right {
  margin-left: auto !important; }

.align-left {
  margin-right: auto !important; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex.center-vertically {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex.center-horizontally {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -moz-box-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -moz-box-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.flex-9 {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
  -moz-box-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.flex-10 {
  -webkit-box-flex: 10;
  -webkit-flex: 10;
  -moz-box-flex: 10;
  -ms-flex: 10;
  flex: 10; }

.flex-11 {
  -webkit-box-flex: 11;
  -webkit-flex: 11;
  -moz-box-flex: 11;
  -ms-flex: 11;
  flex: 11; }

.flex-12 {
  -webkit-box-flex: 12;
  -webkit-flex: 12;
  -moz-box-flex: 12;
  -ms-flex: 12;
  flex: 12; }

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.block-center, .container-full-screen, .container-narrow {
  margin-left: auto;
  margin-right: auto; }

.block, .show {
  display: block; }
  .block.block, .show.block {
    min-width: 100%; }

.is-hidden {
  display: none; }

.is-invisible {
  visibility: hidden; }

.wipe-margin, .no-margin {
  margin: 0 !important; }

.wipe-padding, .no-padding {
  padding: 0 !important; }

.wipe-margin-padding, .no-margin-padding, .wipe-padding-margin, .no-padding-margin {
  margin: 0;
  padding: 0; }

.margin-all.quarter-unit, .quarter-unit.padding-top, .quarter-unit.margin-top, .quarter-unit.padding-right, .quarter-unit.margin-right, .quarter-unit.padding-bottom, .quarter-unit.margin-bottom, .quarter-unit.padding-left, .quarter-unit.margin-left {
  margin: rem(4px); }

.padding-all.quarter-unit {
  padding: rem(4px); }

.margin-all.half-unit, .half-unit.padding-top, .half-unit.margin-top, .half-unit.padding-right, .half-unit.margin-right, .half-unit.padding-bottom, .half-unit.margin-bottom, .half-unit.padding-left, .half-unit.margin-left {
  margin: rem(8px); }

.padding-all.half-unit {
  padding: rem(8px); }

.margin-all.unit-layout, .unit-layout.padding-top, .unit-layout.margin-top, .unit-layout.padding-right, .unit-layout.margin-right, .unit-layout.padding-bottom, .unit-layout.margin-bottom, .unit-layout.padding-left, .unit-layout.margin-left {
  margin: rem(16px); }

.padding-all.unit-layout {
  padding: rem(16px); }

.margin-all.double-unit, .double-unit.padding-top, .double-unit.margin-top, .double-unit.padding-right, .double-unit.margin-right, .double-unit.padding-bottom, .double-unit.margin-bottom, .double-unit.padding-left, .double-unit.margin-left {
  margin: rem(32px); }

.padding-all.double-unit {
  padding: rem(32px); }

.padding-top {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important; }

.margin-top {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important; }

.padding-right {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important; }

.margin-right {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important; }

.padding-bottom {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important; }

.margin-bottom {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important; }

.padding-left {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important; }

.margin-left {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important; }

.padding-vertical.base-unit-layout {
  padding: 1rem 0; }
.padding-vertical.double-unit-layout {
  padding: 2rem 0; }
.padding-vertical.triple-unit-layout {
  padding: 3rem 0; }

.padding-horizontal.base-unit-layout {
  padding: 0 1rem; }
.padding-horizontal.double-unit-layout {
  padding: 0 2rem; }
.padding-horizontal.triple-unit-layout {
  padding: 0 3rem; }

.margin-vertical.base-unit-layout {
  margin: 1rem 0; }
.margin-vertical.double-unit-layout {
  margin: 2rem 0; }
.margin-vertical.triple-unit-layout {
  margin: 3rem 0; }

.margin-horizontal.base-unit-layout {
  margin: 0 1rem; }
.margin-horizontal.double-unit-layout {
  margin: 0 2rem; }
.margin-horizontal.triple-unit-layout {
  margin: 0 3rem; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.description {
  color: #b4c2c7; }

.container-full-screen, .container-narrow {
  zoom: 1;
  width: 100%; }
  .container-full-screen:before, .container-full-screen:after, .container-narrow:before, .container-narrow:after {
    content: "";
    display: table; }
  .container-full-screen:after, .container-narrow:after {
    clear: both; }

.container-narrow {
  width: 80%;
  max-width: 43.75rem; }

footer {
  color: #b4c2c7;
  font-size: 0.75rem;
  text-align: center;
  padding: 3rem 1rem; }
