.wipe-margin,
.no-margin {
  margin: 0 !important; }

.wipe-padding,
.no-padding {
  padding: 0 !important; }

.wipe-margin-padding, .file-button input[type="file"],
.no-margin-padding,
.wipe-padding-margin,
.no-padding-margin {
  margin: 0;
  padding: 0; }

.padding-vertical.base-unit-layout {
  padding: rem(16px) 0; }
.padding-vertical.double-unit-layout {
  padding: rem(32px) 0; }
.padding-vertical.triple-unit-layout {
  padding: rem(48px) 0; }

.padding-horizontal.base-unit-layout {
  padding: 0 rem(16px); }
.padding-horizontal.double-unit-layout {
  padding: 0 rem(32px); }
.padding-horizontal.triple-unit-layout {
  padding: 0 rem(48px); }

.margin-vertical.base-unit-layout {
  margin: rem(16px) 0; }
.margin-vertical.double-unit-layout {
  margin: rem(32px) 0; }
.margin-vertical.triple-unit-layout {
  margin: rem(48px) 0; }

.margin-horizontal.base-unit-layout {
  margin: 0 rem(16px); }
.margin-horizontal.double-unit-layout {
  margin: 0 rem(32px); }
.margin-horizontal.triple-unit-layout {
  margin: 0 rem(48px); }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-uppercase, .button, button {
  text-transform: uppercase;
  letter-spacing: 1px; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.description {
  color: #b4c2c7; }

input,
select,
textarea,
button,
.button,
.input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-appearance: none;
  border: 1px solid #d1dadd;
  background: white;
  padding: 0.75rem;
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 0.875rem;
  outline: none;
  color: #68838c;
  margin: 0 0 rem(16px);
  text-decoration: none; }
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  button::-webkit-input-placeholder,
  .button::-webkit-input-placeholder,
  .input::-webkit-input-placeholder {
    color: #d1dadd; }
  input::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder,
  button::-moz-placeholder,
  .button::-moz-placeholder,
  .input::-moz-placeholder {
    color: #d1dadd; }
  input:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder,
  button:-moz-placeholder,
  .button:-moz-placeholder,
  .input:-moz-placeholder {
    color: #d1dadd; }
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  button:-ms-input-placeholder,
  .button:-ms-input-placeholder,
  .input:-ms-input-placeholder {
    color: #d1dadd; }
  input:last-child,
  select:last-child,
  textarea:last-child,
  button:last-child,
  .button:last-child,
  .input:last-child {
    margin-bottom: 0; }
  input:hover, input:focus,
  select:hover,
  select:focus,
  textarea:hover,
  textarea:focus,
  button:hover,
  button:focus,
  .button:hover,
  .button:focus,
  .input:hover,
  .input:focus {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    border-color: #b4c2c7; }
    input:hover:focus, input:focus:focus,
    select:hover:focus,
    select:focus:focus,
    textarea:hover:focus,
    textarea:focus:focus,
    button:hover:focus,
    button:focus:focus,
    .button:hover:focus,
    .button:focus:focus,
    .input:hover:focus,
    .input:focus:focus {
      border-color: #839ba3; }

select {
  -webkit-appearance: none;
  background: url("/images/icons/grey/arrow-bottom.svg") no-repeat right rem(16px) top 50%;
  -webkit-background-size: rem(8px) rem(8px);
  -o-background-size: rem(8px);
  background-size: rem(8px); }

textarea {
  min-height: rem(64px);
  resize: vertical; }

input:invalid,
textarea:invalid {
  color: #f25641; }
  input:invalid:hover, input:invalid:focus,
  textarea:invalid:hover,
  textarea:invalid:focus {
    color: #f25641; }
  input:invalid:focus,
  textarea:invalid:focus {
    border-color: #f25641; }

.file-button {
  position: relative;
  overflow: hidden;
  margin: 0 0 rem(16px); }
  .file-button input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer !important; }
  .file-button .button {
    margin: 0; }

.checkbox-holder input, .radio-button-holder input {
  display: none; }
.checkbox-holder .checkbox, .checkbox-holder .radio-button, .radio-button-holder .checkbox, .radio-button-holder .radio-button {
  zoom: 1;
  height: rem(24px);
  position: relative;
  cursor: pointer; }
  .checkbox-holder .checkbox:before, .checkbox-holder .checkbox:after, .checkbox-holder .radio-button:before, .checkbox-holder .radio-button:after, .radio-button-holder .checkbox:before, .radio-button-holder .checkbox:after, .radio-button-holder .radio-button:before, .radio-button-holder .radio-button:after {
    content: "";
    display: table; }
  .checkbox-holder .checkbox:after, .checkbox-holder .radio-button:after, .radio-button-holder .checkbox:after, .radio-button-holder .radio-button:after {
    clear: both; }
  .checkbox-holder .checkbox .indicator, .checkbox-holder .radio-button .indicator, .radio-button-holder .checkbox .indicator, .radio-button-holder .radio-button .indicator {
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    border: 1px solid #d1dadd;
    width: rem(16px)-0.125rem;
    height: rem(16px)-0.125rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -rem(8px)-0.0625rem 0 0;
    cursor: pointer; }
    .checkbox-holder .checkbox .indicator:after, .checkbox-holder .radio-button .indicator:after, .radio-button-holder .checkbox .indicator:after, .radio-button-holder .radio-button .indicator:after {
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: background 0.25s;
      -moz-transition: background 0.25s;
      -o-transition: background 0.25s;
      transition: background 0.25s;
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: rem(8px);
      height: rem(8px);
      background: #d1dadd;
      margin-top: -rem(8px)/2;
      margin-left: -rem(8px)/2; }
  .checkbox-holder .checkbox label, .checkbox-holder .radio-button label, .radio-button-holder .checkbox label, .radio-button-holder .radio-button label {
    padding: 0 0 0 rem(24px);
    height: rem(24px);
    line-height: rem(24px);
    font-size: 0.875rem;
    cursor: pointer; }
  .checkbox-holder .checkbox:hover .indicator, .checkbox-holder .checkbox:focus .indicator, .checkbox-holder .radio-button:hover .indicator, .checkbox-holder .radio-button:focus .indicator, .radio-button-holder .checkbox:hover .indicator, .radio-button-holder .checkbox:focus .indicator, .radio-button-holder .radio-button:hover .indicator, .radio-button-holder .radio-button:focus .indicator {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
    border-color: #b4c2c7; }
    .checkbox-holder .checkbox:hover .indicator:after, .checkbox-holder .checkbox:focus .indicator:after, .checkbox-holder .radio-button:hover .indicator:after, .checkbox-holder .radio-button:focus .indicator:after, .radio-button-holder .checkbox:hover .indicator:after, .radio-button-holder .checkbox:focus .indicator:after, .radio-button-holder .radio-button:hover .indicator:after, .radio-button-holder .radio-button:focus .indicator:after {
      opacity: 1;
      background: #d1dadd; }
  .checkbox-holder .checkbox:focus .indicator, .checkbox-holder .checkbox:active .indicator, .checkbox-holder .radio-button:focus .indicator, .checkbox-holder .radio-button:active .indicator, .radio-button-holder .checkbox:focus .indicator, .radio-button-holder .checkbox:active .indicator, .radio-button-holder .radio-button:focus .indicator, .radio-button-holder .radio-button:active .indicator {
    border-color: #839ba3; }
    .checkbox-holder .checkbox:focus .indicator:after, .checkbox-holder .checkbox:active .indicator:after, .checkbox-holder .radio-button:focus .indicator:after, .checkbox-holder .radio-button:active .indicator:after, .radio-button-holder .checkbox:focus .indicator:after, .radio-button-holder .checkbox:active .indicator:after, .radio-button-holder .radio-button:focus .indicator:after, .radio-button-holder .radio-button:active .indicator:after {
      background: #839ba3; }
  .checkbox-holder .checkbox.selected .indicator, .checkbox-holder .radio-button.selected .indicator, .radio-button-holder .checkbox.selected .indicator, .radio-button-holder .radio-button.selected .indicator {
    border-color: #b4c2c7; }
    .checkbox-holder .checkbox.selected .indicator:after, .checkbox-holder .radio-button.selected .indicator:after, .radio-button-holder .checkbox.selected .indicator:after, .radio-button-holder .radio-button.selected .indicator:after {
      opacity: 1;
      background: #6699cc; }
  .checkbox-holder .checkbox.selected:hover .indicator, .checkbox-holder .checkbox.selected:focus .indicator, .checkbox-holder .radio-button.selected:hover .indicator, .checkbox-holder .radio-button.selected:focus .indicator, .radio-button-holder .checkbox.selected:hover .indicator, .radio-button-holder .checkbox.selected:focus .indicator, .radio-button-holder .radio-button.selected:hover .indicator, .radio-button-holder .radio-button.selected:focus .indicator {
    border-color: #6699cc; }
  .checkbox-holder .checkbox.selected:focus .indicator, .checkbox-holder .checkbox.selected:active .indicator, .checkbox-holder .radio-button.selected:focus .indicator, .checkbox-holder .radio-button.selected:active .indicator, .radio-button-holder .checkbox.selected:focus .indicator, .radio-button-holder .checkbox.selected:active .indicator, .radio-button-holder .radio-button.selected:focus .indicator, .radio-button-holder .radio-button.selected:active .indicator {
    border-color: #4d88c4; }
    .checkbox-holder .checkbox.selected:focus .indicator:after, .checkbox-holder .checkbox.selected:active .indicator:after, .checkbox-holder .radio-button.selected:focus .indicator:after, .checkbox-holder .radio-button.selected:active .indicator:after, .radio-button-holder .checkbox.selected:focus .indicator:after, .radio-button-holder .checkbox.selected:active .indicator:after, .radio-button-holder .radio-button.selected:focus .indicator:after, .radio-button-holder .radio-button.selected:active .indicator:after {
      background: #4d88c4; }
  .checkbox-holder .checkbox.selected.disabled .indicator, .checkbox-holder .radio-button.selected.disabled .indicator, .radio-button-holder .checkbox.selected.disabled .indicator, .radio-button-holder .radio-button.selected.disabled .indicator {
    border-color: #eef1f3; }
  .checkbox-holder .checkbox.disabled, .checkbox-holder .radio-button.disabled, .radio-button-holder .checkbox.disabled, .radio-button-holder .radio-button.disabled {
    cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled .indicator, .checkbox-holder .radio-button.disabled .indicator, .radio-button-holder .checkbox.disabled .indicator, .radio-button-holder .radio-button.disabled .indicator {
      background: #f8f9fa;
      border-color: #eef1f3;
      cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled label, .checkbox-holder .radio-button.disabled label, .radio-button-holder .checkbox.disabled label, .radio-button-holder .radio-button.disabled label {
      color: #d1dadd;
      cursor: not-allowed; }
    .checkbox-holder .checkbox.disabled:hover .indicator, .checkbox-holder .checkbox.disabled:focus .indicator, .checkbox-holder .radio-button.disabled:hover .indicator, .checkbox-holder .radio-button.disabled:focus .indicator, .radio-button-holder .checkbox.disabled:hover .indicator, .radio-button-holder .checkbox.disabled:focus .indicator, .radio-button-holder .radio-button.disabled:hover .indicator, .radio-button-holder .radio-button.disabled:focus .indicator {
      -webkit-box-shadow: none;
      box-shadow: none; }
      .checkbox-holder .checkbox.disabled:hover .indicator:after, .checkbox-holder .checkbox.disabled:focus .indicator:after, .checkbox-holder .radio-button.disabled:hover .indicator:after, .checkbox-holder .radio-button.disabled:focus .indicator:after, .radio-button-holder .checkbox.disabled:hover .indicator:after, .radio-button-holder .checkbox.disabled:focus .indicator:after, .radio-button-holder .radio-button.disabled:hover .indicator:after, .radio-button-holder .radio-button.disabled:focus .indicator:after {
        opacity: 0; }
    .checkbox-holder .checkbox.disabled:focus .indicator, .checkbox-holder .checkbox.disabled:active .indicator, .checkbox-holder .radio-button.disabled:focus .indicator, .checkbox-holder .radio-button.disabled:active .indicator, .radio-button-holder .checkbox.disabled:focus .indicator, .radio-button-holder .checkbox.disabled:active .indicator, .radio-button-holder .radio-button.disabled:focus .indicator, .radio-button-holder .radio-button.disabled:active .indicator {
      border-color: #eef1f3; }
      .checkbox-holder .checkbox.disabled:focus .indicator:after, .checkbox-holder .checkbox.disabled:active .indicator:after, .checkbox-holder .radio-button.disabled:focus .indicator:after, .checkbox-holder .radio-button.disabled:active .indicator:after, .radio-button-holder .checkbox.disabled:focus .indicator:after, .radio-button-holder .checkbox.disabled:active .indicator:after, .radio-button-holder .radio-button.disabled:focus .indicator:after, .radio-button-holder .radio-button.disabled:active .indicator:after {
        opacity: 0; }
    .checkbox-holder .checkbox.disabled.selected .indicator:after, .checkbox-holder .radio-button.disabled.selected .indicator:after, .radio-button-holder .checkbox.disabled.selected .indicator:after, .radio-button-holder .radio-button.disabled.selected .indicator:after {
      background: #d1dadd; }
    .checkbox-holder .checkbox.disabled.selected:hover .indicator:after, .checkbox-holder .checkbox.disabled.selected:focus .indicator:after, .checkbox-holder .checkbox.disabled.selected:active .indicator:after, .checkbox-holder .radio-button.disabled.selected:hover .indicator:after, .checkbox-holder .radio-button.disabled.selected:focus .indicator:after, .checkbox-holder .radio-button.disabled.selected:active .indicator:after, .radio-button-holder .checkbox.disabled.selected:hover .indicator:after, .radio-button-holder .checkbox.disabled.selected:focus .indicator:after, .radio-button-holder .checkbox.disabled.selected:active .indicator:after, .radio-button-holder .radio-button.disabled.selected:hover .indicator:after, .radio-button-holder .radio-button.disabled.selected:focus .indicator:after, .radio-button-holder .radio-button.disabled.selected:active .indicator:after {
      opacity: 1;
      background: #d1dadd; }
.checkbox-holder .radio-button .indicator, .radio-button-holder .radio-button .indicator {
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }
  .checkbox-holder .radio-button .indicator:after, .radio-button-holder .radio-button .indicator:after {
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%; }

.flash-message {
  background: url("/images/other/loading.gif") no-repeat center center transparent;
  -webkit-background-size: 22px 22px;
  -o-background-size: 22px 22px;
  background-size: 22px 22px;
  min-height: rem(32px);
  display: none;
  margin: 0 0 rem(16px); }

.button, button {
  background: white;
  text-decoration: none;
  padding: rem(16px);
  padding-left: rem(24px);
  padding-right: rem(24px);
  cursor: pointer;
  border-color: #d1dadd;
  color: #b4c2c7;
  min-width: inherit; }
  .button:hover, .button:focus, button:hover, button:focus {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    border-color: #b4c2c7;
    color: #b4c2c7; }
  .button:active, button:active {
    border-color: #839ba3;
    color: #839ba3; }
  .button:disabled, button:disabled {
    background: #f8f9fa;
    border-color: #eef1f3;
    color: #d1dadd;
    cursor: not-allowed; }
    .button:disabled:hover, .button:disabled:focus, .button:disabled:active, button:disabled:hover, button:disabled:focus, button:disabled:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #eef1f3;
      color: #d1dadd; }
