#content-holder {
	height: 100vh;
}

header {
	font-size: 2rem;
}

header strong {
	color: #ff6961;
}

footer {
	height: 3rem;
	border-top: 1px solid #eef1f3;
	color: #b4c2c7;
	font-size: .75rem;
}

footer a {
	padding: 0 .5rem;
	text-decoration: none;
	color: #b4c2c7;
}

footer a:hover,
footer a:focus {
	color: #ff6961;
}